$include /etc/inputrc

# `colored-stats` breaks bash-completion by interpreting command completion as
# filesystem completion. This results in a "lots of broken symlinks" look.
#set colored-stats On
set completion-ignore-case On
set completion-map-case On
set completion-prefix-display-length 3
set mark-symlinked-directories On
set show-all-if-ambiguous On
set show-all-if-unmodified On
set visible-stats On

# Cycle though completions
# ... lowercase blocked by https://bugs.kde.org/show_bug.cgi?id=439196
Control-J: menu-complete
Control-K: menu-complete-backward

# PgUp/PgDn for history incremental complete
"\e[5~": history-search-backward
"\e[6~": history-search-forward

# C-n and C-p complete words using previously-typed words (like in vim):
Control-n: dabbrev-expand
Control-p: "\e-\C-n"

# Alt-s prefixes "sudo "
"\es": "\C-asudo \C-e"
